.grocery {
  .info {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: $gap;
    background-color: $gray;
    padding: $gap;
    border-radius: $radius;
    .info-li {
      .task-title {
        span {
          background-color: $gray;
          padding: 5px 15px;
          color: $color;
          margin-right: 10px;
        }
      }
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      padding: $gap;
      border-radius: $radius;
      background-color: white;
      .second-info {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        gap: 5px;
        li {
          padding: 10px;
          border-radius: $radius;
          cursor: pointer;
          &:hover {
            svg {
              color: $color;
            }
          }
          .done {
            color: $color;
          }
          svg {
            transition: 0.2s;
            font-size: $svg;
          }
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: $gray;
        }
      }
    }
  }
  .clear-all {
    background-color: $color;
    color: white;
    font-weight: $bold;
    width: 100%;
    margin-top: $gap;
    border: none;
    border-radius: $radius;
    padding: 10px 0;
    cursor: pointer;
  }
}
