$color: #85144b;
$gray: #f4f4f4;
$darkGray: #5c5c5c;
$black: #1b1b1b;
$radius: 5px;
$gap: 20px;
$error: #ff000038;
$errorColor: #ff0000;
$good: #29f30038;
$goodColor: #29f300;
$svg: 22px;
$bold: 500;
